[Unit]
Description=Daily Games deployment timer

[Timer]
OnBootSec=1min
OnUnitInactiveSec=1min
Unit=dailygames-deploy.service

[Install]
WantedBy=timers.target
