body, html {
  scroll-snap-type: y mandatory;
}

.snapChild {
  scroll-snap-align: start;
}

.vh-90 {
  height: 90vh;
}

.welcome h1 {
  font-size: 35vw;
  text-shadow: 3px 3px 1px gray;
}

.count h1 {
  font-size: 35vw;
}

.rank h1 {
  font-size: 35vw;
}

.percentile h1 {
  font-size: 35vw;
}

.uniqueDaysCount h1 {
  font-size: 35vw;
}

.uniqueDaysRank h1 {
  font-size: 35vw;
}

.uniqueDaysPercentile h1 {
  font-size: 35vw;
}

/* Day of week could be 10 characters */
.day h1 {
  font-size: 12vw;
}

.day-count h1 {
  font-size: 35vw;
}

/* time of day could be 5 characters */
.time-of-day h1 {
  font-size: 25vw;
}

.time-count h1 {
  font-size: 35vw;
}

.top-text {
  margin-top: 20px;
}

.bottom-text {
  margin-bottom: 20px;
  text-align: right;
}

.btn {
  font-size: 35vw;
}
